strong {
    font-size: 45px;
  }
  a {
    color: #ff6434;
    text-decoration-line: none;
  }
  li {
    list-style: none;
  }
  body {
    display:flex;
    flex-flow: column wrap;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
 
  

  .navgation {
    border-top: 3px solid black;
    border-bottom:3px solid black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
  }
  .nav__icon {
    display: flex;
    border-right: 3px dotted #dd2c00;
    padding: 37px 25px 37px 25px;
    font-size: 24px;
    color: #dd2c00;
  }
  .nav__icon i {
    padding-right: 3px;
  }
  
  .nav__icon a {
    color: #c96f53;
  }
  
  .navi__menu {
    padding-right: 500px;
    display: flex;
    color: #ff6434;
  }
  .navi__menu li {
    text-align: center;
    padding: 25px 45px 25px 45px;
    transition: 0.2s ease;
  }
  .navi__menu li:hover {
    border-radius: 30%;
    background-color: white;
    transition: 0.5s ease;
  }
  .nav_AFT_Icons {
    display: flex;
    font-size: 24px;
    padding-right: 25px;
  }
  .nav_AFT_Icons li {
    padding: 4px 15px;
  }
 .flexbox1 {
  display: flex; 
 } 
 .leftsideNAV{
   padding-left: 20px;
     background-color: #c96f53;
     margin: 0px;
     width: 203px;
     height: 900px;
     display: flex;
     flex-flow: column wrap;
     justify-content: space-around;
 }
#List1BTN {
    background-color: #c96f53;
    width: 203px;
    height: 50px;
}



.mainContent {
display: flex;
width: 100%;
height: 900px;
background-color: aqua;
justify-content: space-around;
align-content: space-around;
flex-flow:column wrap;
}

.mainall{
  display: flex;
  flex-flow:column nowrap; 
  justify-content: space-between;
}

.mainHead {
display:flex;
 width: 100%;
 height: 250px;
 background-color: #EFFFFD;
 color: black;
 justify-content: center;

}
.mainTitle{
display: flex;
align-items: center;
}
.mainBG {
  width: 100%;
  height: 450px;
background-image:linear-gradient(to top, transparent,#DFDFDE), url("star.jpg");
background-position:50% 50%;
background-size: 100% 100%;
background-repeat: no-repeat;
  
}
.mainText {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #1A5F7A; 
  color: black;
  font-size: 30px;
}

















  @media screen and (max-width: 900px) {
    .nav__icon__underline {
      width: 100%;
      border-bottom: 7px dotted #dd2c00;
      display: flex;
    }
    .nav__icon {
      border-right: none;
      display: flex;
    }
    .navgation {
      flex-direction: column;
      width: auto;
    }
    .navi__menu {
      padding-right: 0px;
      flex-direction: column;
    }